<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="shortcut icon" href="./assets/images/Logo-icon.ico" />
    <meta name="description" content="當您餓的時候，會想起金艾甲" />

    <meta property="og:title" content="金艾甲鹽水雞" />
    <meta
      property="og:description"
      content="金艾甲鹽水雞，當您餓的時候會想起金艾甲"
    />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="FB上的網址" />
    <meta property="og:image" content="FB的圖片" />

    <link href="./assets/images/Logo-icon.ico" rel="apple-touch-icon" />

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%- title %></title>
    <script
      src="https://kit.fontawesome.com/bf3cb62f9b.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="./assets/style/all.css" />
  </head>

  <body class="bg-img">
    <header class="container px-6 pt-4 mx-auto header">
      <nav class="flex items-center justify-between">
        <!-- nav -->
        <div class="relative w-5 h-4 hamburger">
          <!-- hamburger -->
          <input
            class="absolute top-0 left-0 w-5 opacity-0 cursor-pointer z-5"
            type="checkbox"
            name=""
            id=""
          />
          <div class="flex flex-col justify-between h-15px hamburger-lines z-2">
            <span class="w-full h-0.5 block bg-black line-1"></span>
            <span class="w-full h-0.5 block bg-black line-2"></span>
            <span class="w-full h-0.5 block bg-black line-3"></span>
          </div>
        </div>
        <!-- hamburger end -->
        <div class="logo">
          <!-- logo -->
          <a href="index.html">
            <img
              class="w-full h-10"
              src="./assets/images/Logo.svg"
              alt="JinAiJia-logo"
            />
          </a>
        </div>
        <!-- logo end -->
        <div class="text-center members-icon">
          <!-- members -->
          <a href="#">
            <i class="w-5 h-5 fa-solid fa-circle-user"></i>
          </a>
        </div>
        <!-- members end -->
      </nav>
      <!-- nav end -->
    </header>

    <main class="container px-6 mx-auto"><%- contents %></main>

    <footer class="container px-6 mx-auto footer">footer</footer>
    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>
</html>
