/* .logo-animate{
  width: 80px;
  height: 80px;
  transform: rotate(0);
  transition: all 1s ease-in;
}
.logo-animate:hover{
  width: 144px;
  height: 144px;
  transform: rotate(360deg);
} */

/* header 本店特色延遲左滑 */
.features{
  left: -128px;
  opacity: 0;
  transition: all 1s ease;
  transition-delay: .5s;
}
.logo a:hover ~ .logo-left .features-animate{
  left: -256px;
  opacity: 1;
}

/* header 吃得安心左滑 */
.safety{
  left: 0;
  opacity: 0;
  transition: all 1s ease;
}
.logo a:hover ~ .logo-left .safety-animate{
  left: -128px;
  opacity: 1;
}

/* header 餐點訂購延遲右滑*/
.offers{
  right: -128px;
  opacity: 0;
  transition: all 1s ease;
  transition-delay: .5s;
}
.logo a:hover ~ .logo-right .offers-animate{
  right: -256px;
  opacity: 1;
}

/* header 關於我們右滑*/
.about{
  right: 0;
  opacity: 0;
  transition: all 1s ease;
}
.logo a:hover~.logo-right .about-animate{
  right: -128px;
  opacity: 1;
}